---
---

@import url('https://fonts.googleapis.com/css?family=Philosopher&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap');
@import 'main';

.navigation {
  font: normal normal 24px Courgette;
  width: 60%;
  position: relative;
  left: 20%;
  background-color: #e0dddd;
  padding-bottom: 5px;
}

.content {
  font: normal normal 18px Philosopher;
  width: 60%;
  position: relative;
  left: 20%;
  top: 5%;
}

h1 {
  font: normal normal bold 40px 'Grape Nuts';
  color: darkslategray;
}

nav {
  padding: 1% 3% 1% 3%;
}

a {
  text-decoration: none;
}

.nav-space {
  padding: 0% 2%;
  float: right;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

footer {
  margin-top: auto;
  padding: 5% 0% 2% 0%;
  //   position: fixed;
  //   bottom: 0;
  margin-left: 5%;
  text-align: center;
}

ul {
  //   list-style-type: none;
  list-style-type: '\21AA';
  margin: 0;
  padding: 2px;
}

li {
  margin: 5px;
  padding: 2px;
}

li a {
  font-weight: bold;
}

img.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
