// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

@import url('https://fonts.googleapis.com/css?family=Philosopher&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap');
// @use '_fonts.css'; // Assuming the directory structure allows for this path

// .site-nav {
.site-header {
  font-family: Courgette;
  font-size: 22px;
}
.site-footer {
  font-family: Philosopher;
}

.page-content {
  font-family: Philosopher;
  font-size: 20px;
}

h1 {
  font-family: Courgette;
  font-weight: bold;
}

#photo-ravs {
  border-radius: 50%;
}

p {
  text-align: justify;
}
