---
layout: base
---

<div class="home">
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}
  {{ content }}
  {% if site.paginate %}
  {% assign posts = paginator.posts  | where_exp: 'post', 'post.date <= site.time'  %}
  {% else %}
  {% assign posts = site.posts  | where_exp: 'post', 'post.date <= site.time' %}
  {% endif %}

  {%- if posts.size > 0 -%}
  {%- if page.list_title -%}
  <h2 class="post-list-heading">{{ page.list_title }}</h2>
  {%- endif -%}
  <ul class="post-list">
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    {%- for post in posts -%}
    <li>
      <span class="post-meta">{{ post.date | date: date_format }}</span> •
      <span class="post-meta">
        {% assign words = post.content | number_of_words %}
        {% if words < 360 %} 1 min {% else %} {{ words | divided_by:180 }} mins {% endif %} </span> • <span
            class="post-meta">#{% assign num = paginator.page | times: paginator.per_page %}{% assign num =
            paginator.total_posts | minus: num | plus : paginator.per_page %}{{ num
            | minus:
            forloop.index | plus: 1 }}
          </span>
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}"> {{ post.title | escape }} </a>
          </h3>
          {%- if site.show_excerpts -%} {{ post.excerpt }} {%- endif -%}
    </li>
    {%- endfor -%}
  </ul>

  {% assign first_page_path = paginator.first_page_path | default: site.paginate_path | replace: 'page:num', '' |
  replace: '//', '/' %}

  {% assign last_page_path = site.paginate_path | replace: 'page:num', 'page' | append: paginator.total_pages | replace:
  '/page/', '/page' | replace: '//', '/' %}

  {% if site.paginate %}
  <div class="pager">
    <ul class="pagination">
      <li>
        <a href="{{ first_page_path | relative_url }}" class="previous-page">First</a>
      </li>
      {%- if paginator.previous_page %}
      <li>
        <a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page
          }}</a>
      </li>
      {%- else %}
      <li>
        <div class="pager-edge">•</div>
      </li>
      {%- endif %}
      <li>
        <div class="current-page">{{ paginator.page }}</div>
      </li>
      {%- if paginator.next_page %}
      <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
      {%- else %}
      <li>
        <div class="pager-edge">•</div>
      </li>
      {%- endif %}
      <li>
        <a href="{{ last_page_path | relative_url }}" class="next-page">Last</a>
      </li>
    </ul>
  </div>
  {%- endif %}
  {%- endif -%}
</div>
