---
layout: base
---

<div class="tag-page">
  <h1 class="page-heading">Posts tagged with "{{ page.display_tag }}"</h1>
  
  <ul class="post-list">
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    {% for post in site.posts %}
      {% if post.tags contains page.tag %}
        <li>
          <span class="post-meta">{{ post.date | date: date_format }}</span> •
          <span class="post-meta">
            {% assign words = post.content | number_of_words %}
            {% if words < 360 %} 1 min {% else %} {{ words | divided_by:180 }} mins {% endif %} </span>
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
          </h3>
          <!-- <span class="post-meta">{{ post.date | date: "%B %d, %Y" }}</span> -->
          <!-- {% if post.description %}
            <p>{{ post.description }}</p>
          {% endif %} -->
        </li>
      {% endif %}
    {% endfor %}
  </ul>
  
  <p><a href="/tags/" class="back-link">← Back to all tags</a></p>
</div>
